@using Microsoft.Extensions.Options;
@using StockManager.Core.Options;

@inherits LayoutComponentBase
@inject IOptionsMonitor<VersionOptions> option

<PageTitle>StockManager.Web</PageTitle>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (option.CurrentValue.Version != null)
            {
                <MudText>Ver. @option.CurrentValue.Version</MudText>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
